#table_content{
	border: 2px solid #c5e5bc;
	height: 50%;
	width: 70%;
    margin: center;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
#table_comment{
	border: 2px solid #c5e5bc;
	width: 70%;
    margin: center;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
td{
	border-bottom: 1px solid #ccc;
}
.board_btn, input[type=button]{
		width: 90px;
		height: 30px;
		background-color:#c5e5bc;
		border:none;
	}
	.td1{
		width:20%;
	}
	.td2{
		width:60%;
	}
	.td3{
		width:20%;
	}
	.tr1{
		background-color:#c5e5bc;
	}
	.tr2{
		height:60%;
	}