#table{ 
	height: 500px;
	width: 70%;
	margin: center;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ccc;
}
.tr1{ 
	height:50px;
}
.tr2{ 
	height:70%;
}
.board_btn, input[type=button]{
		width: 90px;
		height: 30px;
		background-color:black;
		color:white;
		border:none;
	}
input[type=text]{
	width:100%;
	border:0;
	text-align:left;
	height:80%;
}
input[type=file]{
	width:100%;
	text-align:left;
}
textarea{
	width:100%;
	border:0;
	text-align:left;
	height:100%;
}
.btn_back{
		margin-left:15%;
	}
	.btn{
		margin-left:75%;
	}
	.td1{
		width:10%;
	}
