.number{
    color:black;
    font-weight: bold;
}
.title{
	font-size:20px;
}
.picture1 {
	background: lightgray;
	height: 80px;
	width: 120px;
}

.font {
	color: #55ce3c;
	font-size: 14px;
	font-weight: bold;
}

#content {
    position: absolute;
    top: 50%;
    height: 240px;
    margin-top: -120px;
}

 #today, #yesterday{
    width:50%;
    font-size: 150px;
    text-align: center;
}

.square{
   	border:1px solid gray;
}
