@font-face {
    font-family: "NotoSansCJKkr";
    src: url('font/NotoSansCJKkr-Reqular.otf') format('opentype');
}

.userbox{
    border: 5px solid #e1e1e1;
    padding: 30px;
    text-align: left;
}

.userbox hr{
    border: 3px solid #e1e1e1;
    width: 500px;
}

.userbox a{
	border: 3px solid #e1e1e1;
	padding: 5px;
	text-decoration: none;
	color: #111;
	margin-left: 100px;
}

.tbl{
    border: none;
    width: 90%;
    padding: 50px;
    margin-left: 50px;
}

.tbl td{
    height: 50px;
}

.tbl input{
    border: 5px solid #e1e1e1;
    height: 20px;
    width: 250px;
}

.join{
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.join td{
    height: 70px;
}

.join input{
    width: 200px;
    height: 30px;
}

.login_btn{
    background: #00a651;
    color: white;
    font-size: 15pt;
    width: 80px;
    height: 85px;
    border: none;
}

.join_btn{
    background: #00a651;
    color: white;
    font-size: 15pt;
    width: 120px;
    height: 40px;
    border: none;
    margin-left: 300px;
    margin-top: 10px;
}

.login_docu{
    font-size: 15pt;
    margin-left: 100px;
    font-family: "NotoSansCJKkr";
}

.little{
    color: #999;
    margin-left: 100px;
    font-family: "NotoSansCJKkr";
}

.attend{
    color: #00a651;
    font-size: 8pt;
    margin-left: 100px;
}