	.table_view_tr{
		border-bottom: 1px solid #787878;
		height: 55px;
	}
	
	.table_view_tr a{
		display: block;
		color: black;
		text-decoration: none;
	}
	
	#table_view th{
		background-color: #dfdfdf;
		border-top: 2px solid black;
		border-bottom: 1px solid #787878;
		height: 55px;
	}
	
	#table_view{
		width: 1000px;
    	margin-left: auto; 
    	margin-right: auto;
    	text-align: center;
		margin-top: 100px;
    	
    }
	
	#table_view tr{
		height: 55px;
    	
    }
    #title_div{
    	position:relative;
		margin-bottom: 5px;
    }
    #title_div img{
    	width: 100%;
    	height: 300px;
    }
    #title_div div{
    	position:absolute;
    	color:white;
    	font-size: 17pt;
    	border-top: 1px solid white;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    }
    #search_div{
    	position:relative;
    	width: 100%;
    }
    #search_div select{
    	outline:none;
    	width: 100%;
    }
    #search_div input[type=text]{
    	outline:none;
    	width: 100%;
    }
    #search_div input[type=image]{
    	outline:none;
    	position:absolute;
    	top: 5px;
    	right: 5px;
    }
	
	#table_paging{
    	margin: center;
    	margin-top: 80px;
    	margin-left: auto; 
    	margin-right: auto;
    	text-align: center;
    	margin-bottom: 50px;
	}
	#table_paging a{
		display: block;
		color: gray;
		text-decoration: none;
	}
	#table_paging td{
		height: 22px;
		width: 22px;
		display: inline-block;
		font-size: 10pt;
		border: 1px solid #ccc;
		color: gray;
    	text-align: center;
	}
	
	.board_btn{
		width: 100px;
		height: 40px;
		background-color:black;
		border:none;
		color:white;
		float:right;
	}
	
	.td3{
		width:50%;
	}
	
	hr{
		margin-top: 5px;
		width:100%;
		background-color:black;
	}
	
	#tag{
		margin-left: 450px;
		font-size: 12px;
	}